@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

@theme {
  --font-arabic: "Tajawal", sans-serif;
  --font-english: "Cairo", sans-serif;
}

@font-face {
  font-display: swap;
}

body {
  overflow-x: hidden;
}

.hover-gradient {
  background: linear-gradient(140deg, #a7e2ff, #316be8, #a7e2ff, #316be8);
  background-size: 400% 400%;
}

.hover-gradient:hover {
  animation: rotateGradient 3s linear infinite;
}

#custom-swiper-pagination .custom-bullet {
  width: 12px;
  height: 12px;
  background: #cbd5e1;
  border-radius: 50%;
  opacity: 0.6;
  transition: all 0.3s ease;
  cursor: pointer;
}

#custom-swiper-pagination .custom-bullet-active {
  background: #3b82f6;
  opacity: 1;
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}
#custom-swiper-pagination1 .custom-bullet {
  width: 12px;
  height: 12px;
  background: #cbd5e1;
  border-radius: 50%;
  opacity: 0.6;
  transition: all 0.3s ease;
  cursor: pointer;
}

#custom-swiper-pagination1 .custom-bullet-active {
  background: #3b82f6;
  opacity: 1;
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(to right, #316be8, #88d8ff);
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.rotate-3d {
  transform: rotate3d(0, 0, 1, 45deg);
}

.rotate-3dn {
  transform: rotate3d(0, 0, 1, -45deg);
}

@theme {
  --animate-shake: shake 0.3s ease-in-out 1;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    60% {
      transform: translateX(-6px);
    }
    40%,
    80% {
      transform: translateX(6px);
    }
  }
}
