@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

@theme {
  --font-arabic: "Tajawal", sans-serif;
  --font-english: "Cairo", sans-serif;
}

* {
  box-sizing: border-box;
}

@theme {
  --animate-shake: shake 0.3s ease-in-out 1;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    60% {
      transform: translateX(-6px);
    }
    40%,
    80% {
      transform: translateX(6px);
    }
  }
}
